.Post {
  width: 100%;
  height: 100%;

  border-bottom-style: hidden;
  border-top-style: hidden;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #35322a;
  border-width: 2px;
  border-radius: 3%;
  padding: 0.1%;
}

.Post-body {

  font-family: 'Alegreya', serif;
  padding-bottom: auto;
}

.Post-date {
  font-size: small;
  margin-top: 0;
}

.Post-header {
  font-family: 'Alegreya SC', serif;
}

.Post-footer {
  vertical-align: bottom;
  font-family: 'Alegreya SC', serif;
  font-size: small;
  margin-top: auto;
}

.Post-title {
  font-weight: 400;
  margin-bottom: 0;
}