.TitleView-svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.TitleView-text {
  fill: #35322a;
  font-family: 'Cinzel Decorative', serif;
  filter: url('#white-border');
  font-weight: 900;
  font-size: 47pt;
}

/* The smallish screen */
@media all and (max-width: 850px) {

  .TitleView-text {
    filter: none;
    font-size: 28pt;
  }
}

/* The small screen */
@media all and (max-width: 500px) {

  .TitleView-text {
    filter: none;
    font-size: 19pt;
  }
}

.TitleView {
  height: 10%;
  padding: 5%;
  padding-bottom: 4%;
}